<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>LighterViewController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>410886061C0FDD1C0071D3AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4108861F1C0FDD1C0071D3AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4108862A1C0FDD1C0071D3AD</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
